<footer class="footer-main">
    <div class="footer">
        <div class="footer-icon">
            <a href=""><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/mayanktrivedi95/"><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-square-twitter"></i></a>
            <a href=""><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="footer-company-right">
            &copy; WanderLust Private Limited
        </div>
        <div class="footer-policy">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
            <a href="/companydetails">Company-details</a>
        </div>
    </div>
</footer>