<% layout("/layouts/boilerplate") %>

    <body>
        <div class="row mt-3">
            <div class="col-8 offset-2">
                <h2>Add New Listing</h2>
                <br>
                <form action="/listings" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="category" class="form-label">Enter Category of Listing : </label>
                        <select name="listing[category]" id="category" required class="form-control">
                            <option value="Trending">Trending</option>
                            <option value="Rooms">Rooms</option>
                            <option value="Iconic-cities">Iconic cities</option>
                            <option value="Mountains">Mountains</option>
                            <option value="Castles">Castles</option>
                            <option value="Amazing-view">Amazing view</option>
                            <option value="Amazing-pools">Amazing pools</option>
                            <option value="Camping">Camping</option>
                            <option value="Farms">Farms</option>
                            <option value="Domes">Domes</option>
                            <option value="Boats">Boats</option>
                          </select>
                    </div>
                    <div class="mb-3">
                        <label for="title" class="form-label">Enter Title </label>
                        <input name="listing[title]" type="text" placeholder="Enter title" class="form-control" required>
                        <div class="invalid-feedback">
                           Please Enter Title!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Enter Description </label>
                        <textarea name="listing[description]" placeholder="Enter description"
                            class="form-control" required></textarea>
                        <div class="invalid-feedback">
                            Please write good description!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Uplaod image</label>
                        <input name="listing[image]" type="file" placeholder="Enter image link/url"
                            class="form-control" required>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-3">
                            <label for="price" class="form-label">Price </label>
                            <input name="listing[price]" type="number" placeholder="Enter price" class="form-control" required>
                            <div class="invalid-feedback">
                               Please Enter Price!
                            </div>
                        </div>
                        <div class="mb-3 col-md-9">
                            <label for="location" class="form-label">Location </label>
                            <input name="listing[location]" type="text" placeholder="Enter location"
                                class="form-control" required>
                            <div class="invalid-feedback">
                                Please enter valid location!
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="country" class="form-label">Country </label>
                        <input name="listing[country]" type="text" placeholder="Enter country" class="form-control" required>
                        <div class="invalid-feedback">
                            Please enter country!
                        </div>
                    </div>
                    <button class="btn mt-3 mb-3">Add</button>
                </form>
            </div>
        </div>
    </body>

    </html>